@charset "UTF-8";

@import 'element-plus/dist/index.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100&display=swap');

:root {
  --purple: #908DFF;
  --purple-dark: #6663b0;
  --pink: #F36A8D;
  --pink-dark: #a94961;
  --yellow: #FFBD20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input {
  appearance: none;
  outline: none;
  border: none;
  background: none;
}
